/* Matemasie font */
@font-face {
  font-family: "Matemasie";
  src: url("fonts/Matemasie-Regular.ttf") format("truetype");
}
.font-matemasie {
  font-family: "Matemasie", sans-serif;
}

/* Cabin font */
@font-face {
  font-family: "Cabin";
  src: url("fonts/Cabin.ttf") format("truetype");
}
.font-cabin {
  font-family: "Cabin", sans-serif;
}

/* Body */
body {
  background-color: gray;
  height: 100vh;
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;

  font-family: "Cabin", sans-serif;
  padding: 10px;
  margin: 20px 0;
  /* border as placeholder if needed */
  /* border: 10px solid white; */
  /* border-radius: 4px; */
}

code {
  font-family: "Cabin", sans-serif;
}

.container {
  animation: gradient 10s infinite;
  height: 100vh; /* Ensure it covers the full viewport height */
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

.task {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  background: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #4caf50;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
}

.task.reminder {
  border-left: 5px solid #d9534f;
  font-family: "Cabin", sans-serif;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
}

.btn:active {
  background: #555;
}
